
##üí° **Question 1**

Given an integer¬†`n`, return¬†*`true`¬†if it is a power of two. Otherwise, return¬†`false`*.

An integer¬†`n`¬†is a power of two, if there exists an integer¬†`x`¬†such that¬†`n == 2x`.

**Example 1:**
Input: n = 1 

Output: true

**Example 2:**
Input: n = 16 

Output: true

**Example 3:**
Input: n = 3 

Output: false

</aside>

In [1]:
def power(n):
  if n <= 0:
    return False

  while n % 2 == 0:
    n //= 2

  return n == 1

In [2]:
n = 1
result = power(n)
print(f"Output : {result}")

Output : True

In [3]:
n = 16
result = power(n)
print(f"Output : {result}")

Output : True

In [4]:
n = 3
result = power(n)
print(f"Output : {result}")

Output : False

##üí° **Question 2**

Given a number n, find the sum of the first natural numbers.

**Example 1:**

Input: n = 3 

Output: 6

**Example 2:**

Input  : 5 

Output : 15

</aside>

In [5]:
def natural(n):
  return (n * (n + 1)) // 2

In [6]:
n = 3
result = natural(n)
print(f"Output : {result}")

Output : 6

In [8]:
n = 5
result = natural(n)
print(f"Output : {result}")

Output : 15

##üí° **Question 3**

Given a positive integer, N. Find the factorial of N. 

**Example 1:**

Input: N = 5 

Output: 120

**Example 2:**

Input: N = 4

Output: 24

</aside>

In [9]:
def factorial(N):
  product = 1
  if N == 0:
    return 1
  for i in range(1, N+1):
    product *= i
  return product

In [12]:
N = 5
result = factorial(N)
print(f"Output : {result}")

Output : 120

In [14]:
N = 4
result = factorial(N)
print(f"Output : {result}")

Output : 24

##üí° **Question 4**

Given a number N and a power P, the task is to find the exponent of this number raised to the given power, i.e. N^P.

**Example 1 :** 

Input: N = 5, P = 2

Output: 25

**Example 2 :**
Input: N = 2, P = 5

Output: 32

</aside>

In [15]:
def exponent(N,P):
  return N ** P

In [16]:
N, P = 5, 2
result = exponent(N, P)
print(f"Output : {result}")

Output : 25

In [17]:
N, P = 2, 5
result = exponent(N, P)
print(f"Output : {result}")

Output : 32

## üí° **Question 5**

Given an array of integers¬†**arr**, the task is to find maximum element of that array using recursion.

**Example 1:**

Input: arr = {1, 4, 3, -5, -4, 8, 6};
Output: 8

**Example 2:**

Input: arr = {1, 4, 45, 6, 10, -8};
Output: 45

</aside>

In [30]:
def maximum(arr):
  
  if len(arr) == 1:
    return arr[0]

  mid = len(arr) // 2
  left_max = maximum(arr[:mid])
  right_max = maximum(arr[mid:])

  return max(left_max, right_max)

In [32]:
arr = [1, 4, 3, -5, -4, 8, 6]
result = maximum(arr)
print(f"Output : {result}")

Output : 8

In [33]:
arr = [1, 4, 45, 6, 10, -8]
result = maximum(arr)
print(f"Output : {result}")

Output : 45

##üí° **Question 6**

Given first term (a), common difference (d) and a integer N of the Arithmetic Progression series, the task is to find Nth term of the series.

**Example 1:**

Input : a = 2 d = 1 N = 5
Output : 6
The 5th term of the series is : 6

**Example 2:**

Input : a = 5 d = 2 N = 10
Output : 23
The 10th term of the series is : 23

</aside>

In [34]:
def AP(a,d,N):
  if N == 1:
    return a
  else:
    return AP(a + d, d, N-1)

In [35]:
a,d,N = 2,1,5
result = AP(a,d,N)
print(f"Output : {result}")

Output : 6

In [36]:
a,d,N = 5,2,10
result = AP(a,d,N)
print(f"Output : {result}")

Output : 23

##üí° **Question 7**

Given a string S, the task is to write a program to print all permutations of a given string.

**Example 1:**

***Input:***

*S = ‚ÄúABC‚Äù*

***Output:***

*‚ÄúABC‚Äù, ‚ÄúACB‚Äù, ‚ÄúBAC‚Äù, ‚ÄúBCA‚Äù, ‚ÄúCBA‚Äù, ‚ÄúCAB‚Äù*

**Example 2:**

***Input:***

*S = ‚ÄúXY‚Äù*

***Output:***

*‚ÄúXY‚Äù, ‚ÄúYX‚Äù*

</aside>

In [49]:
def permutations(S, current=""):
  if len(S) == 0:
    print(current)
  else:
    for i in range(len(S)):
      new_current = current + S[i]
      remaining_chars = S[:i] + S[i+1:]
      permutations(remaining_chars, new_current)
      
def printPermutations(S):
    permutations(S)

In [50]:
S = "ABC"
result = printPermutations(S)
print(f"Output : {result}")

ABC
ACB
BAC
BCA
CAB
CBA
Output : None

In [51]:
S = "XY"
result = printPermutations(S)
print(f"Output : {result}")

XY
YX
Output : None

##üí° **Question 8**

Given an array, find a product of all array elements.

**Example 1:**

Input  : arr[] = {1, 2, 3, 4, 5}
Output : 120
**Example 2:**

Input  : arr[] = {1, 6, 3}
Output : 18

</aside>

In [53]:
def product(arr):
  if len(arr) == 0:
    return 1
  else:
    return arr[0] * product(arr[1:])

In [54]:
arr = [1, 2, 3, 4, 5]
result = product(arr)
print(f"Output : {result}")

Output : 120

In [55]:
arr = [1, 6, 3]
result = product(arr)
print(f"Output : {result}")

Output : 18